<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="css/adminhome.css" rel="stylesheet">
    <title>Add User</title>
  </head>
  <body>
     <nav class="navbar navbar-light bg-light">
                <a style="color:rgb(59, 81, 182)" class="navbar-brand">Community Builder</a>
                <form class="form-inline">
                    <a class="btn btn-danger" href="/requests" role="button">
                      Requests
                    </a>
                  <a class="btn btn-primary" href="/logout" role="button">Logout</a>
                </form>
     </nav>
     <nav class="navbar navbar-light nav-bg">
            <span class="navbar-text" id="demo">
            </br>
            </span>
     </nav>
    <div class="left">
    </br>
    <div class="item"> 
      <i onclick="goHome()" class="fa fa-home" style="font-size:27px"></i> &nbsp &nbsp Home
  </div>
  <%if(role=="admin"){%>
        <div class="item active">
            <i style="font-size:27px;color:rgb(255, 255, 255)" class="fa fa-user-plus fa-map-marked-alt" onclick="goUser()"></i> &nbsp &nbsp  Add User
        </div>
        <div class="item">
            <i onclick="goUserList()" style="font-size:27px;color:rgb(255, 255, 255)" class="fa fa-users fa-columns"></i> &nbsp &nbsp Users List
        </div>
        <%}%>
        <div class="item">
          <i onclick="goCreateCommunity()" class="fa fa-object-group" style="font-size:27px"></i> &nbsp &nbsp &nbsp Create Community
      </div>
      <div class="item">
        <i onclick="goCommunitiesList()" class="fa fa-list" style="font-size:27px"></i> &nbsp &nbsp &nbsp Communities List
    </div>
        <div class="item">
            <i onclick="goPassword()" class="fa fa-lock" style="font-size:27px"></i> &nbsp &nbsp &nbsp Change Password
        </div>
    </div>
    <nav>
    <div class="card" style="width: 18rem;padding-left: 1cm ;float:left">
            <img src="avatar-default-thumb.jpg" alt="Avatar" class="card-img-top" alt="User">
            <div class="card-body">
              <h5 class="card-title"><%= arr.role%></h5>
              <p class="card-text">Hello user.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= arr.email%></li>
              <li class="list-group-item"><%= arr.phone%></li>
            </ul>
          </div>
          <div style="padding-right: 15cm">
          <div class="card" style="width: 18rem;float: right">
            <img src="/communityicon.jpg" class="card-img-top" alt="Icon" style="height:200px;width:250px">
            <div class="card-body">
              <h5 class="card-title">My Communities</h5>
            </div>
            <div class="card-body">
              <a href="/mycommunities" class="card-link">View all</a>
            </div>
          </div>
          </div>
        </nav>
    <!-- Optional JavaScript -->
    <!-- my script -->
<script>
  function goUser(){
    window.location.href = '/adduser';
  }
  function goHome(){
    window.location.href = '/adminhome';
  }
  function goUserList(){
    window.location.href = '/userslist';
  }
  function goPassword(){
    window.location.href = '/password';
  }
  function goPassword(){
    window.location.href = '/password';
  }
  function goCreateCommunity(){
    window.location.href = '/createcommunity';
  }
  function goCommunitiesList(){
    window.location.href = '/communitieslist';
  }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
</html>