<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
 <% arr.forEach(function(obj){ %>
    <tr>
      <td><%= obj.name%></td>
      <td><%= obj.phone%></td>
      <td><%= obj.email%></td>
    </tr>
    <% }) %>
</table>

</body>
</html>
